<h1>New User</h1>

<%= form_with model: @user do |form| %>
  <p>
    <%= form.label :username, "Your username:" %>
    <%= form.text_field :username, placeholder: "Bob Loblaw" %>
  </p>

  <p>
    <%= form.label :email, "Your email:" %>
    <%= form.email_field :email, placeholder: "bob@loblawlawblog.com" %>
  </p>

  <p>
    <%= form.label :password, "Your password:" %>
    <%= form.password_field :password %>
  </p>

  <%= form.submit %>
<% end %>

<!--
<form action="/users" method="post" accept-charset="utf-8" data-turbo="false">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>
    <label for="user_username">Username:</label>
    <input type="text" name="user[username]" id="user_username" />
  </p>

  <p>
    <label for="user_email">Email:</label>
    <input type="email" name="user[email]" id="user_email" />
  </p>

  <p>
    <label for="user_password">Password:</label>
    <input type="password" name="user[password]" id="user_password" />
  </p>

  <button type="submit">Create User</button>
</form>
-->
